<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstraps</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body class="main">
    <div class="head">
        <h1 class="lhead">Bootstraps</h1>
        <div class="rhead  shead">
            <h2><a class="link" href="http://localhost:5000/user/profile">Profile</a></h2>
            <h2 class="rhead"><a class="link" href="http://localhost:5000/user/logout">Logout</a></h2>
        </div>
    </div>
    <div class="bmain">
        <div class="state">
            <p class="big">Looking for Postings in a different state:</p>
            <ul class="none">
                <li><a href="/jobs/Ak">Ak</a></li>
                <li><a href="/jobs/Al">Al</a></li>
                <li><a href="/jobs/Ar">Ar</a></li>
                <li><a href="/jobs/Az">Az</a></li>
                <li><a href="/jobs/Ca">Ca</a></li>
                <li><a href="/jobs/Co">Co</a></li>
                <li><a href="/jobs/Ct">Ct</a></li>
                <li><a href="/jobs/De">De</a></li>
                <li><a href="/jobs/Fl">Fl</a></li>
                <li><a href="/jobcs/Ga">Ga</a></li>
                <li><a href="/jobs/Hi">Hi</a></li>
                <li><a href="/jobs/Id">Id</a></li>
                <li><a href="/jobs/Il">Il</a></li>
                <li><a href="/jobs/In">In</a></li>
                <li><a href="/jobs/Ia">Ia</a></li>
                <li><a href="/jobs/Ks">Ks</a></li>
                <li><a href="/jobs/Ky">Ky</a></li>
                <li><a href="/jobs/La">La</a></li>
                <li><a href="/jobs/Ma">Ma</a></li>
                <li><a href="/jobs/Md">Md</a></li>
                <li><a href="/jobs/Me">Me</a></li>
                <li><a href="/jobs/Mi">Mi</a></li>
                <li><a href="/jobs/Mn">Mn</a></li>
                <li><a href="/jobs/Ms">Ms</a></li>
                <li><a href="/jobs/Mo">Mo</a></li>
                <li><a href="/jobs/Mt">Mt</a></li>
                <li><a href="/jobs/Nc">Nc</a></li>
                <li><a href="/jobs/Nd">Nd</a></li>
                <li><a href="/jobs/Ne">Ne</a></li>
                <li><a href="/jobs/Nh">Nh</a></li>
                <li><a href="/jobs/Nm">Nm</a></li>
                <li><a href="/jobs/Nv">Nv</a></li>
                <li><a href="/jobs/Ny">Ny</a></li>
                <li><a href="/jobs/Oh">Oh</a></li>
                <li><a href="/jobs/Ok">Ok</a></li>
                <Li><a href="/jobs/Or">Or</a></Li>
                <li><a href="/jobs/Pa">Pa</a></li>
                <li><a href="/jobs/Ri">Ri</a></li>
                <li><a href="/jobs/Sc">Sc</a></li>
                <li><a href="/jobs/Sd">Sd</a></li>
                <li><a href="/jobs/Tn">Tn</a></li>
                <li><a href="/jobs/Tx">Tx</a></li>
                <li><a href="/jobs/Ut">Ut</a></li>
                <li><a href="/jobs/Va">Va</a></li>
                <li><a href="/jobs/Vt">Vt</a></li>
                <li><a href="/jobs/Wa">Wa</a></li>
                <li><a href="/jobs/Wi">Wi</a></li>
                <li><a href="/jobs/Wv">Wv</a></li>
                <li><a href="/jobs/Wy">Wy</a></li>
            </ul>
        </div>
        <div class="tables">
            <p class="tbig">Job postings near you</p>
            <table>
                <tr>
                    <th class="big">Title</th>
                    <th class="big">Requirements</th>
                    <th class="big">Description</th>
                    <th class="big">Hours</th>
                    <th class="big">Contract</th>
                    <th class="big">Company name</th>
                    <th class="big">City</th>
                    <th class="big">Application</th>
                </tr>
                {% for c_job in c_jobs %}
                    <tr>
                        <td class="big">{{c_job.title}}</td>
                        <td>{{c_job.requirement}}</td>
                        <td>{{c_job.description}}</td>
                        <td class="big">{{c_job.hours}}</td>
                        <td class="big">{{c_job.time_frame}}</td>
                        <td class="big">{{c_job.creator.business_name}}</td>
                        <td class="big">{{c_job.creator.city}}</td>
                        <td class="big">{{c_job.creator.company}}</td>
                        <td class="big"><a href="http://localhost:5000/apply/{{c_job.id}}">Apply</a></td>
                    </tr>
                {% endfor %}
            </table>

            <p class="tbig">Job postings a bit further in your state</p>
            <table>
                <tr>
                    <th class="big">Title</th>
                    <th class="big">Requirements</th>
                    <th class="big">Description</th>
                    <th class="big">Hours</th>
                    <th class="big">Contract</th>
                    <th class="big">Company name</th>
                    <th class="big">City</th>
                    <th class="big">Application</th>
                </tr>
                {% for s_job in s_jobs %}
                    <tr>
                        <td class="big">{{s_job.title}}</td>
                        <td>{{s_job.requirement}}</td>
                        <td>{{s_job.description}}</td>
                        <td class="big">{{s_job.hours}}</td>
                        <td class="big">{{s_job.time_frame}}</td>
                        <td class="big">{{s_job.creator.business_name}}</td>
                        <td class="big">{{s_job.creator.city}}</td>
                        <td class="big">{{s_job.creator.company}}</td>
                        <td class="big"><a href="http://localhost:5000/apply/{{s_job.id}}">Apply</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>