<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstraps</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="main">
    <div class="head">
        <h1 class="lhead">Bootstraps</h1>
        <h2 class="rhead">Welcome!</h2>
    </div>
    <h2 class="intro">Get Started</h2>
    <div class="bmain">
        <div class="reg_log">
            <h2 class="tlog">Tradesman</h2>
            <div class="log">
                {% for message in get_flashed_messages(category_filter=['ulogin']) %}
                    <p>{{message}}</p>
                {% endfor %}
                <h3 class="llog">Log in</h3>
                <form action="user/login" method="POST">
                    <div class="clog">
                        <p class="plog">Email:</p>
                        <textarea class="lllog" name="eml" id="" cols="20" rows="1"></textarea>
                    </div>
                    <div class="clog">
                        <p class="plog">Password:</p>
                        <textarea class="lllog" name="pswd" id="" cols="20" rows="1"></textarea>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Log in">
                    </div>
                </form>
                <p class="rlog">Don't have an account yet? <a class="rllog" href="http://localhost:5000/new/user">Sign up here!</a></p>
            </div>
        </div>
        <div class="reg_log">
            <h2 class="tlog">Business</h2>
            <div class="log">
                {% for message in get_flashed_messages(category_filter=['login']) %}
                    <p>{{message}}</p>
                {% endfor %}
                <h3 class="llog">Log in</h3>
                <form action="biz/login" method="POST">
                    <div class="clog">
                        <p class="plog">Email:</p>
                        <textarea class="lllog" name="eml" id="" cols="20" rows="1"></textarea>
                    </div>
                    <div class="clog">
                        <p class="plog">Password:</p>
                        <textarea class="lllog" name="pswd" id="" cols="20" rows="1"></textarea>
                    </div>
                    <div>
                        <input class="button" type="submit" value="Log in">
                    </div>
                </form>
                <p class="rlog">Don't have an account yet? <a class="rllog" href="http://localhost:5000/new/biz">Sign up here!</a></p>
            </div>
        </div>
    </div>
</body>
</html>