<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstraps</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}">
</head>
<body>
    <div class="head">
        <h1 class="lhead">Bootstraps</h1>
        <div class="rhead  shead">
            <h2><a class="link" href="http://localhost:5000/biz/profile">Profile</a></h2>
            <h2 class="rhead"><a class="link" href="http://localhost:5000/user/logout">Logout</a></h2>
        </div>
    </div>
    <div class="reg">
        <h3 class="treg tbig">Find reliable professionals today!</h3>
        {% for message in get_flashed_messages(category_filter=['register']) %}
            <p>{{message}}</p>
        {% endfor %}
        <form class="form" action="/create/job" method="POST">
            <div class="box">
                <p class="left big">Title:</p>
                <textarea class="text right big" name="ttl" id="" cols="20" rows="1"></textarea>
                <p class="left big">description:</p>
                <textarea class="text right big" name="desc" id="" cols="20" rows="4"></textarea>
                <p class="left big">Hours:</p>
                <select class="right big" name="hrs" id="">
                    <option class="big" name="hrs" value="Full-time">Full-time</option>
                    <option class="big" name="hrs" value="Part-time">Part-time</option>
                </select>
            </div>
            <div class="box">
                <p class="sleft big">Salary:</p>
                <textarea class="text sright big" name="sal" id="" cols="20" rows="1"></textarea>
                
                <p class="sleft big">Time-frame:</p>
                <select class="sright big" name="tmfm" id="">
                    <option class="big" name="tmfm" value="Contract">Contract</option>
                    <option class="big" name="tmfm" value="Permanent">Permanent</option>
                </select>
                <p class="sleft big">Requirements:</p>
                <textarea class="text sright big" name="req" id="" cols="20" rows="4"></textarea>
            </div>
            <div class="bcenter">
                <input class="button big" type="submit" value="Register">
            </div>
        </form>
    </div>
</body>
</html>