<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstraps</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}">
</head>
<body>
    <div class="head">
        <h1 class="lhead">Bootstraps</h1>
        <div class="rhead  shead">
            <h2><a class="link" href="http://localhost:5000/user/dashboard">Find a job!</a></h2>
            <h2 class="rhead"><a class="link" href="http://localhost:5000/user/logout">Logout</a></h2>
        </div>
    </div>
    <div class="reg">
        <a class="big left" href="http://localhost:5000/user/edit">Edit</a>
            <div class="first">
                <p class="left big">First Name: {{user.first_name}}</p>
                <p class="big">Last Name: {{user.last_name}}</p>
                <p class="right big">Email: {{user.email}}</p>
            </div>
            <div class="rest">
                <div class="second">
                    <div class="fsecond">
                        <p class="left big">Birthday: {{user.birthday}}</p>
                        <p class="right big">Resume:</p>
                    </div>
                    <div class="first">
                        <p class="left big">Street Address: {{user.address}}</p>
                        <p class="big">City: {{user.city}}</p>
                        <p class="right big">State: {{user.state}}</p>
                    </div>
                    <p class="treg big">Years of experience:</p>
                    <div class="categ">
                        <div class="lcat">
                            <div class="cat">
                                <p class="big">Carpentry: {{trade.carpentry}}</p>
                            </div>
                            <div class="cat">
                                <p class="big">Cement: {{trade.cement}}</p>
                            </div>
                        </div>
                        <div class="lcat">
                            <div class="cat">
                                <p class="big">Drywall: {{trade.drywall}}</p>
                            </div>
                            <div class="cat">
                                <p class="big">Heavy Machinery: {{trade.heavy_machinery}}</p>
                            </div>
                        </div>
                        <div class="lcat">
                            <div class="cat">
                                <p class="big">High Voltage Electricity: {{trade.high_v_electricity}}</p>
                            </div>
                            <div class="cat">
                                <p class="big">Home Electricity: {{trade.home_electricity}}</p>
                            </div>
                        </div>
                        <div class="lcat">
                            <div class="cat">
                                <p class="big">HVAC: {{trade.hvac}}</p>
                            </div>
                            <div class="cat">
                                <p class="big">Plumbing: {{trade.plumbing}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="third">
                    <p class="tdesc treg big">Your description:</p>
                    <p class="big">{{user.skills}}</p>
                </div>
                
            </div>
    </div>
</body>
</html>